<div class="moorl-flow-crm-mapping">
    <div v-if="activeFormFields.length" class="moorl-info-table">
        <sw-alert variant="info">
            {{ description }}
        </sw-alert>

        <moorl-collapse :label="$tc('moorl-flow-crm-mapping.salesChannel')">
            <template #content>
                <pre v-pre>{{ salesChannel.name }}</pre>
            </template>
        </moorl-collapse>

        <moorl-collapse :label="$tc('moorl-flow-crm-mapping.customer')">
            <template #content>
<pre v-pre>{{ customer.firstName }}
{{ customer.lastName }}
{{ customer.email }}
{{ customer.phone }}
{{ customer.subject }}
{{ customer.comment }}</pre>
            </template>
        </moorl-collapse>

        <moorl-collapse :label="$tc('moorl-flow-crm-mapping.order')">
            <template #content>
<pre v-pre>{{ order.orderNumber }}
{{ order.orderCustomer.email }}
{{ order.comment }}</pre>
            </template>
        </moorl-collapse>

        <moorl-collapse :label="$tc('moorl-flow-crm-mapping.contactFormData')">
            <template #content>
<pre v-pre>{{ contactFormData.firstName }}
{{ contactFormData.lastName }}
{{ contactFormData.email }}
{{ contactFormData.phone }}
{{ contactFormData.subject }}
{{ contactFormData.comment }}</pre>
            </template>
        </moorl-collapse>

        <moorl-collapse :label="$tc('moorl-flow-crm-mapping.newsletterRecipient')">
            <template #content>
<pre v-pre>{{ newsletterRecipient.firstName }}
{{ newsletterRecipient.lastName }}
{{ newsletterRecipient.email }}</pre>
            </template>
        </moorl-collapse>

        <p>&nbsp;</p>

        <table>
            <tr>
                <th>{{ $tc('sw-settings-custom-field.set.detail.labelTechnicalName') }}</th>
                <th>{{ $tc('sw-settings-custom-field.customField.detail.labelLabel') }}</th>
                <th>{{ $tc('sw-cms.detail.label.mappingPreview') }}</th>
            </tr>
            <tr v-for="field in activeFormFields">
                <td>{{ field.value }}</td>
                <td>{{ field.label }}</td>
                <td>
                    <sw-text-field v-model="mapping[field.value]" :placeholder="$tc('moorl-flow-crm-mapping.mappingPlaceholder')"/>
                </td>
            </tr>
        </table>
    </div>
</div>
