<div class="moorl-flow-crm-mapping">
    <div class="moorl-link-field">
        <sw-entity-single-select
                :label="propertiesClientId"
                :helpText="helpTextClientId"
                entity="moorl_client"
                :criteria="clientCriteria"
                v-model="config.clientId"
                @change="onChangeClient"
        />

        <router-link
                v-if="config.clientId"
                target="_blank"
                rel="noopener"
                :to="{ name: 'moorl.client.detail', params: { id: config.clientId } }"
        >
            {{ $tc('global.default.edit') }}
        </router-link>

        <router-link
                v-else
                target="_blank"
                rel="noopener"
                :to="{ name: 'moorl.client.create' }"
        >
            {{ $tc('global.default.add') }}
        </router-link>
    </div>

    <sw-single-select
            :label="propertiesFormId"
            :helpText="helpTextFormId"
            :options="formOptions"
            v-model="config.formId"
            :disabled="!config.clientId"
            @change="onChangeForm"
            show-clearable-button
    />

    <div v-if="activeFormFields.length && elementFieldNames.length === 0" class="moorl-info-table">
        <sw-alert variant="info">
            {{ description }}
        </sw-alert>

        <moorl-collapse :label="$tc('moorl-flow-crm-mapping.salesChannel')">
            <template #content>
                <pre v-pre>{{ salesChannel.name }}</pre>
            </template>
        </moorl-collapse>

        <moorl-collapse :label="$tc('moorl-flow-crm-mapping.customer')">
            <template #content>
<pre v-pre>{{ customer.firstName }}
{{ customer.lastName }}
{{ customer.email }}
{{ customer.phone }}
{{ customer.subject }}
{{ customer.comment }}</pre>
            </template>
        </moorl-collapse>

        <moorl-collapse :label="$tc('moorl-flow-crm-mapping.order')">
            <template #content>
<pre v-pre>{{ order.orderNumber }}
{{ order.orderCustomer.email }}
{{ order.comment }}</pre>
            </template>
        </moorl-collapse>

        <moorl-collapse :label="$tc('moorl-flow-crm-mapping.contactFormData')">
            <template #content>
<pre v-pre>{{ contactFormData.firstName }}
{{ contactFormData.lastName }}
{{ contactFormData.email }}
{{ contactFormData.phone }}
{{ contactFormData.subject }}
{{ contactFormData.comment }}</pre>
            </template>
        </moorl-collapse>

        <moorl-collapse :label="$tc('moorl-flow-crm-mapping.newsletterRecipient')">
            <template #content>
<pre v-pre>{{ newsletterRecipient.firstName }}
{{ newsletterRecipient.lastName }}
{{ newsletterRecipient.email }}</pre>
            </template>
        </moorl-collapse>

        <p>&nbsp;</p>

        <table>
            <tr>
                <th>{{ $tc('moorl-flow-crm-mapping.properties.technicalName') }}</th>
                <th>{{ $tc('moorl-flow-crm-mapping.properties.label') }}</th>
                <th>{{ $tc('moorl-flow-crm-mapping.properties.mapping') }}</th>
            </tr>
            <tr v-for="field in activeFormFields">
                <td>{{ field.value }}</td>
                <td>{{ field.label }}</td>
                <td>
                    <sw-text-field
                            v-model="config.mapping[field.value]"
                            :placeholder="$tc('moorl-flow-crm-mapping.mappingPlaceholder')"
                            @change="onChangeMapping"
                    />
                </td>
            </tr>
        </table>
    </div>

    <div v-if="activeFormFields.length && elementFieldNames.length !== 0" class="moorl-info-table">
        <sw-alert variant="info">
            {{ description }}
        </sw-alert>

        <table>
            <tr>
                <th>{{ $tc('moorl-flow-crm-mapping.properties.technicalName') }}</th>
                <th>{{ $tc('moorl-flow-crm-mapping.properties.label') }}</th>
                <th>{{ $tc('moorl-flow-crm-mapping.properties.mapping') }}</th>
            </tr>
            <tr v-for="field in activeFormFields">
                <td>{{ field.value }}</td>
                <td>{{ field.label }}</td>
                <td>
                    <sw-single-select
                            v-model="config.mapping[field.value]"
                            :options="elementFieldNames"
                            @change="onChangeMapping"
                            show-clearable-button
                    />
                </td>
            </tr>
        </table>
    </div>
</div>
