{% if not media and mediaId %}
    {% set mediaCollection = searchMedia([mediaId], context.context) %}
    {% set media = mediaCollection.get(mediaId) %}
{% endif %}

<div class="{% if entityCoverId and entityMedia %}col-6 col-md-3{% else %}col{% endif %}{% if entityMedia.id == entityCoverId %} order-1{% else %} order-2{% endif %}">
    <div class="appflix-customer-upload-image-container" id="media{{ media.id }}">
        {% sw_thumbnails 'customer-upload-thumbnail' with {
            media: media,
            attributes: {
                'alt': media.name
            }
        } %}

        <div class="appflix-customer-upload-image-actions">
            {% if entityCoverId and entityMedia %}
                <div class="custom-control custom-radio cover">
                    <input type="radio"
                           class="custom-control-input"
                           required
                           id="coverId{{ entityMedia.id }}"
                           name="coverId"
                           value="{{ entityMedia.id }}"{% if entityMedia.id == entityCoverId %} checked{% endif %}>
                    <label class="custom-control-label" for="coverId{{ entityMedia.id }}">
                        {{ 'moorl-foundation.customerUpload.useAsCover'|trans }}
                    </label>
                </div>
            {% endif %}

            {% if entityMedia %}
                <div class="custom-control custom-checkbox delete">
                    <input type="checkbox"
                           class="custom-control-input"
                           id="entityMediaDelete{{ entityMedia.id }}"
                           name="entityMediaDeleteIds[]"
                           value="{{ entityMedia.id }}">
                    <label class="custom-control-label" for="entityMediaDelete{{ entityMedia.id }}">
                        {{ 'moorl-foundation.customerUpload.checkToDelete'|trans }}
                    </label>
                </div>
            {% endif %}
        </div>
    </div>
</div>
