<li class="moorl-download-list-item">
    <div class="download-icon">
        {% if file.fileExtension in ['png','gif','jpg','jpeg','bmp','webp'] %}
            <i class="far fa-file-image"></i>
        {% elseif file.fileExtension in ['pdf'] %}
            <i class="far fa-file-pdf"></i>
        {% elseif file.fileExtension in ['csv','xls'] %}
            <i class="far fa-file-excel"></i>
        {% elseif file.fileExtension in ['zip','rar','gz'] %}
            <i class="far fa-file-archive"></i>
        {% else %}
            <i class="far fa-file-alt"></i>
        {% endif %}
    </div>

    <div class="download-content">
        <div class="download-title" title="{{ file.fileName }}">
            {{ file.fileName }}
        </div>

        <div class="download-meta">
            ({{ file.fileSize|moorl_format_bytes }})
        </div>
    </div>

    <div class="download-form">
        <a class="btn btn-light"
           href="{{ file.url }}"
           title="{{ file.fileName }}"
           download="{{ file.fileName }}.{{ file.fileExtension }}">
            {% sw_icon 'cloud-download' %}
        </a>
    </div>
</li>