{% if enablePrices is not defined %}
    {% set enablePrices = true %}
{% endif %}
{% if enableAddToCartAll is not defined %}
    {% set enableAddToCartAll = true %}
{% endif %}
{% if enableAddToCartSingle is not defined %}
    {% set enableAddToCartSingle = true %}
{% endif %}

{% set options = {
    productQuantities: productQuantities,
    enablePrices: enablePrices,
    enableAddToCartAll: enableAddToCartAll,
    enableAddToCartSingle: enableAddToCartSingle,
    currencyIso: context.currency.isoCode
} %}

{% if products.count > 0 %}
    <div class="moorl-product-buy-list"
         data-moorl-product-buy-list
         data-moorl-product-buy-list-options='{{ options|json_encode|raw }}'>
        <ul class="moorl-product-buy-list-items">
            {% for product in products %}
                <li data-moorl-product-buy-list-item>
                    {% sw_include '@MoorlFoundation/plugin/moorl-foundation/component/product-buy-list/product-item.html.twig' %}
                </li>
            {% endfor %}
        </ul>

        {% if enableAddToCartAll %}
            <div class="moorl-product-buy-list-form">
                <div class="mb-2">
                    <div class="text-start">
                        {{ "moorl-foundation.general.selectedItems"|trans|sw_sanitize }}:
                        <span class="selected-items">0</span>
                    </div>

                    {% if enablePrices %}
                        <div class="text-end">
                            {{ "moorl-foundation.general.subTotal"|trans|sw_sanitize }}:
                            <span class="total-price">{{ 0|currency }}</span>
                        </div>
                    {% endif %}

                    {% if discountActive %}
                        <div class="text-end text-danger">
                            {{ "moorl-foundation.general.discountActive"|trans({
                                discountPercentage: discountPercentage,
                                discountName: discountName
                            })|sw_sanitize }}
                        </div>
                    {% endif %}
                </div>

                <form action="{{ path('frontend.checkout.line-item.add') }}"
                      method="post"
                      data-add-to-cart="true">
                    <input type="hidden" name="redirectTo" value="frontend.cart.offcanvas">
                    <div class="form-values"><!-- Will be set by JavaScript --></div>

                    <div class="d-grid">
                        <button data-moorl-product-buy-list-button
                                class="{% block product_buy_list_add_to_cart_class %}btn btn-primary btn-buy{% endblock %}"
                                title="{{ "detail.addProduct"|trans|striptags }}"
                                aria-label="{{ "detail.addProduct"|trans|striptags }}">
                            {{ "detail.addProduct"|trans|striptags }}
                        </button>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% elseif emptyText and config('MoorlFoundation.config.cmsEmptyAlert') %}
    {% sw_include "@Storefront/storefront/utilities/alert.html.twig" with {
        type: "primary",
        content: emptyText ?: "moorl-foundation.search.notAvailable"|trans
    } %}
{% endif %}
