{% set price = product.calculatedPrice %}
            {% if product.calculatedPrices|length > 0 %}
                {% set price = product.calculatedPrices.first() %}
            {% endif %}
            {% set priceTotal = priceTotal + price.unitPrice %}

<li class="moorl-product-buy-list-item">
    <div class="custom-control custom-checkbox">
        <input type="checkbox"
               class="custom-control-input"
               name="productId[]"
               value="{{ product.id }}"
               id="product{{ product.id }}"
               data-unit-price="{{ price.unitPrice }}"
               checked>
        <label class="custom-control-label" for="product{{ product.id }}"></label>
    </div>

    <div class="product-cover">
        {% if product.cover.media.url %}
            {% set attributes = {
                'alt': product.translated.name
            } %}
            {% sw_thumbnails 'product-image-thumbnails' with { media: product.cover.media } %}
        {% else %}
            {% sw_icon 'placeholder' style {'size': 'fluid'} %}
        {% endif %}
    </div>

    <div class="product-content">
        <div class="product-title">
            <a href="{{ seoUrl('frontend.detail.page', {'productId': product.id}) }}"
               data-modal-class="quickview-modal"
               data-url="{{ path('widgets.quickview.minimal', { 'productId': product.id }) }}">
                {{ product.translated.name }}
            </a>
        </div>

        <div class="products-buy-form-list-item-info-price">
            {{ price.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
        </div>
    </div>

    <form action="{{ path('frontend.checkout.line-item.add') }}"
          method="post"
          data-add-to-cart="true">
        {{ sw_csrf('frontend.checkout.line-item.add') }}
        <input type="hidden" name="lineItems[{{ product.id }}][id]" value="{{ product.id }}">
        <input type="hidden" name="lineItems[{{ product.id }}][type]" value="product">
        <input type="hidden" name="lineItems[{{ product.id }}][referencedId]" value="{{ product.id }}">
        <input type="hidden" name="lineItems[{{ product.id }}][stackable]" value="1">
        <input type="hidden" name="lineItems[{{ product.id }}][removable]" value="1">
        <input type="hidden" name="lineItems[{{ product.id }}][quantity]" value="1">
        <input type="hidden" name="redirectTo" value="frontend.cart.offcanvas">
        <button class="btn btn-primary btn-sm btn-buy"
                title="{{ "detail.addProduct"|trans|striptags }}"
                aria-label="{{ "detail.addProduct"|trans|striptags }}">
            {% sw_icon 'bag' %}
        </button>
    </form>
</li>