<div class="cms-element-{{ element.type }}">
    <{{ element.config.tag.value }} style="{{ element.config.style.value }}" class="{{ element.config.cssClass.value }}">{{ element.data.content }}</{{element.config.tag.value  }}>
</div>
