{% block element_moorl_location %}
    <div class="cms-element-{{ element.type }}">
        {% set locationOptions = {
            locations: [
                element.data.leafletLocation
            ],
            tileLayer: config('MoorlFoundation.config.osmTileLayer'),
            attribution: config('MoorlFoundation.config.osmAttribution'),
            options: config('MoorlFoundation.config.osmOptions'),
            padding: config('MoorlFoundation.config.osmPadding'),
            zoom: config('MoorlFoundation.config.osmZoom'),
            cookieConsent: config('MoorlFoundation.config.osmCookieConsent'),
        } %}

        {% block element_moorl_location_map %}
            <div data-moorl-location data-moorl-location-options='{{ locationOptions|json_encode }}'>
                <div style="height:{{ element.config.height.value }}" class="moorl-location-map">
                    {% if locationOptions.cookieConsent %}
                        <div class="moorl-cookie-box">
                            <div class="h2">{{ "moorl-location-map.cookieName"|trans }}</div>
                            <div class="mb-2">{{ "moorl-location-map.cookieDescription"|trans }}</div>
                            <div class="mb-2">{{ "moorl-location-map.cookieHint"|trans }}</div>
                            <div class="d-flex">
                                <button class="btn btn-outline-primary">{{ "moorl-location-map.cookieAccept"|trans }}</button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
