{% set config = element.config %}

<div class="cms-element-{{ element.type }}{% if config.verticalAlign.value %} has-vertical-alignment{% endif %}">

    {% if config.verticalAlign.value %}
        <div class="cms-element-alignment{% if config.verticalAlign.value == "center" %} align-self-center{% elseif config.verticalAlign.value == "flex-end" %} align-self-end{% else %} align-self-start{% endif %}">
    {% endif %}

    <div class="table-registration-content mb-3">
        {{ config.content.value | raw }}
    </div>

    {% set action = "moorl.table-registration.send" %}

    <form action="{{ path(action) }}"
          method="post"
          data-form-csrf-handler="true"
          data-form-validation="true">

        <div class="form-content">
            {% if context.extensions.shops %}

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="fi-rs-shop input-group-text"></span>
                    </div>
                    <select class="custom-select form-control"
                            required
                            name="shopId">
                        <option disabled selected value="">{{ "moorl-foundation.tableRegistration.shop"|trans }}</option>
                        {% for shop in context.extensions.shops %}
                            <option value="{{ shop.id }}">{{ shop.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            <div class="form-row">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="fi-rs-user input-group-text"></span>
                        </div>
                        <input class="form-control"
                               required
                               name="firstName"
                               placeholder="{{ "moorl-foundation.tableRegistration.firstName"|trans }}">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="fi-rs-envelope input-group-text"></span>
                        </div>
                        <input class="form-control"
                               required
                               name="email"
                               placeholder="{{ "moorl-foundation.tableRegistration.email"|trans }}">
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="fi-rs-clock input-group-text"></span>
                        </div>
                        <input class="form-control"
                               type="datetime-local"
                               required
                               name="time"
                               placeholder="{{ "moorl-foundation.tableRegistration.time"|trans }}">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="fi-rs-users input-group-text"></span>
                        </div>
                        <input class="form-control"
                               type="number"
                               min="1"
                               required
                               name="seats"
                               placeholder="{{ "moorl-foundation.tableRegistration.seats"|trans }}">
                    </div>
                </div>
            </div>

            {% sw_include '@Storefront/storefront/component/captcha/base.html.twig' with { additionalClass : 'col-md-12'} %}

            {% if config.privacyActive %}
                <div class="table-registration-privacy">
                    {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-privacy.html.twig' %}
                </div>
            {% endif %}

            {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-submit.html.twig' with {
                submitText: 'moorl-foundation.tableRegistration.submitText'
            }%}
        </div>

        <div class="form-hidden-fields">
            {{ sw_csrf(action) }}

            {% if page.navigationId and page.entityName %}
                <input type="hidden" name="navigationId" value="{{ page.navigationId }}">
                <input type="hidden" name="entityName" value="{{ page.entityName }}">
            {% else %}
                <input type="hidden" name="navigationId" value="{{ page.header.navigation.active.id }}">
            {% endif %}

            <input type="hidden" name="slotId" value="{{ element.id }}"/>
            <input type="submit" class="submit--hidden d-none" />
        </div>
    </form>

    {% if config.verticalAlign.value %}
        </div>
    {% endif %}
</div>
