{% block moorl_foundation_listing %}
    {% if not config %}
        {% set config = element.fieldConfig.elements %}
    {% endif %}

    {% set itemCss = [
        "padding:#{config.itemPadding.value}",
        "background-color:#{config.itemBackgroundColor.value}",
        "height:#{config.itemHeight.value}",
    ] %}
    {% set contentCss = [
        "padding:#{config.contentPadding.value}",
        "background-color:#{config.contentBackgroundColor.value}",
        "color:#{config.contentColor.value}",
        "text-align:#{config.textAlign.value}",
    ] %}

    {% set listingCss = [] %}
    {% if config.listingLayout.value == 'grid' %}
        {% set listingCss = listingCss|merge([
            "grid-template-columns:repeat(auto-fit, minmax(#{config.itemWidth.value}, 1fr))",
            "grid-gap:#{config.gapSize.value}",
        ]) %}
    {% elseif config.listingLayout.value == 'list' %}
        {% set listingCss = listingCss|merge([
            "grid-gap:#{config.gapSize.value}",
        ]) %}
    {% elseif config.listingLayout.value == 'slider' %}
        {% set listingCss = listingCss|merge([
            "height:#{config.itemHeight.value}",
        ]) %}
    {% elseif config.listingLayout.value == 'standard' %}
        {% set itemCss = itemCss|merge([
            "height:#{config.itemHeight.value}",
        ]) %}
    {% endif %}

    {% set listingContent %}
        {% if config.listingLayout.value == 'standard' %}
            {% set listingColumns = 'cms-listing-col col-sm-6 col-lg-4 col-xl-3' %}

            {% if section and section.type == 'sidebar' %}
                {% set listingColumns = 'cms-listing-col col-sm-6 col-lg-6 col-xl-4' %}
            {% endif %}
        {% else %}
            {% set listingColumns = null %}
        {% endif %}

        {% for item in searchResult %}
            {% block moorl_foundation_listing_item %}
                {% sw_include '@Storefront/plugin/moorl-foundation/listing-item.html.twig' %}
            {% endblock %}
        {% endfor %}
    {% endset %}

    {% if config.listingLayout.value == 'slider' %}
        {# Note: Tiny Slider breaks if the parent element is display: grid with fr based template columns #}
        {% set listingCss = listingCss|merge([
            "margin-right:-#{config.gapSize.value}",
        ]) %}

        {% set productSliderOptions = {
            productboxMinWidth: config.itemWidth.value,
            slider: {
                navPosition: 'bottom',
                speed: config.speed.value ?: 400,
                autoHeight: false,
                autoplay: config.autoplay.value ? true : false,
                autoplayHoverPause: config.autoplayHoverPause.value ? true : false,
                autoplayTimeout: config.autoplayTimeout.value ?: 3500,
                autoplayButtonOutput: false,
                swipeAngle: false,
                mode: config.animateIn.value ? "gallery" : "carousel",
                gutter: (config.gapSize.value|number_format * 1),
                animateIn: config.animateIn.value ?: null,
                animateOut: config.animateOut.value ?: null,
                autoplayButtonOutput: false,
                nav: config.navigation.value ? false : true,
                mouseDrag: config.navigation.value ? false : true,
                controls: config.navigation.value ? true : false
            }
        } %}

        <div class="base-slider product-slider product-slider{% if config.navigation.value %} has-nav{% endif %}"
             data-product-slider="true"
             data-product-slider-options='{{ productSliderOptions|json_encode }}'>
            <ul class="moorl-listing-slider"
                style="{{ listingCss|join(';')|raw }}"
                data-product-slider-container="true">
                {{ listingContent }}
            </ul>

            {% if config.navigation.value %}
                <div class="product-slider-controls-container">
                    <div class="base-slider-controls"
                         data-product-slider-controls="true">
                        <button class="base-slider-controls-prev product-slider-controls-prev">
                            {% sw_icon 'arrow-head-left' %}
                        </button>
                        <button class="base-slider-controls-next product-slider-controls-next">
                            {% sw_icon 'arrow-head-right' %}
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
    {% elseif config.listingLayout.value == 'standard' %}
        <ul class="row cms-listing-row js-listing-wrapper moorl-listing-standard">
            {{ listingContent }}
        </ul>
    {% else %}
        <ul class="js-listing-wrapper moorl-listing-{{ config.listingLayout.value }}"
            style="{{ listingCss|join(';')|raw }}">
            {{ listingContent }}
        </ul>
    {% endif %}
{% endblock %}
