{% set itemContent %}
    {% block moorl_foundation_listing_item %}
        <div class="moorl-listing-item-image">
            {% block moorl_listing_item_image %}
                {% if media.url %}
                    {% sw_thumbnails 'moorl-listing-item-image-thumbnails' with {
                        media: media,
                        attributes: {
                            'alt': title,
                            'class': "is-#{config.displayMode.value}"
                        }
                    } %}
                {% else %}
                    {% sw_icon 'placeholder' style {
                        'size': 'fluid'
                    } %}
                {% endif %}
            {% endblock %}
        </div>

        <div class="moorl-listing-item-content" style="{{ contentCss|join(';') }}">
            <div>
                {% block moorl_foundation_listing_item_content %}
                    <div class="moorl-listing-item-title" title="{{ title }}">
                        {% block moorl_foundation_listing_item_title %}
                            {{ title }}
                        {% endblock %}
                    </div>

                    {% if meta %}
                        <div class="moorl-listing-item-meta">
                            {% block moorl_foundation_listing_item_meta %}
                                {{ meta }}
                            {% endblock %}
                        </div>
                    {% endif %}

                    {% if description %}
                        <div class="moorl-listing-item-description">
                            {% block moorl_foundation_listing_item_description %}
                                {{ description }}
                            {% endblock %}
                        </div>
                    {% endif %}

                    {% if config.hasButton.value %}
                        <a href="{{ url }}"
                           title="{{ config.buttonLabel.value }}"
                           class="{{ config.buttonClass.value }} moorl-listing-item-button">
                            {% block moorl_foundation_listing_item_button_label %}
                                {{ config.buttonLabel.value }}
                            {% endblock %}
                        </a>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
{% endset %}

{% if config.hasButton.value %}
    <li>
        <div class="moorl-listing-item-wrapper{% if config.itemHasBorder.value %} has-border{% endif %}"
             style="{{ itemCss|join(';')|raw }}">
            <div class="moorl-listing-item-{{ config.itemLayout.value }}">
                {{ itemContent }}
            </div>
        </div>
    </li>
{% else %}
    <li>
        <a href="{{ url }}" class="moorl-listing-item-wrapper{% if config.itemHasBorder.value %} has-border{% endif %}"
           style="{{ itemCss|join(';')|raw }}"
           title="{{ title }}">
            <div class="moorl-listing-item-{{ config.itemLayout.value }}">
                {{ itemContent }}
            </div>
        </a>
    </li>
{% endif %}
