{% set itemContent %}
    {% block moorl_foundation_listing_item %}
        <div class="moorl-listing-item-image">
            {% block moorl_listing_item_image %}
                {% if media.url %}
                    {% set imageCss = [] %}
                    {% if config.itemLayout.value == 'avatar' %}
                        {% set imageCss = imageCss|merge([
                            "height:#{config.itemWidth.value}",
                            "width:#{config.itemWidth.value}",
                        ]) %}
                    {% endif %}

                    {% sw_thumbnails 'moorl-listing-item-image-thumbnails' with {
                        media: media,
                        attributes: {
                            'alt': title,
                            'class': "is-#{config.displayMode.value}",
                            'style': imageCss|join(';')
                        }
                    } %}
                {% elseif config.itemLayout.value == 'image-or-title' %}
                    <div class="moorl-listing-item-title" title="{{ title }}">
                        {{ title|raw }}
                    </div>
                {% else %}
                    {% sw_icon 'placeholder' style {
                        'size': 'fluid'
                    } %}
                {% endif %}
            {% endblock %}
        </div>

        {% if config.itemLayout.value != 'image-or-title' %}
            <div class="moorl-listing-item-content" style="{{ contentCss|join(';') }}">
                <div class="">
                    {% block moorl_foundation_listing_item_content %}
                        <div class="moorl-listing-item-title" title="{{ title }}">
                            {% block moorl_foundation_listing_item_title %}
                                {{ title|raw }}
                            {% endblock %}
                        </div>

                        {% if meta %}
                            <div class="moorl-listing-item-meta">
                                {% block moorl_foundation_listing_item_meta %}
                                    {{ meta }}
                                {% endblock %}
                            </div>
                        {% endif %}

                        {% if description %}
                            <div class="moorl-listing-item-description">
                                {% block moorl_foundation_listing_item_description %}
                                    {{ description|raw }}
                                {% endblock %}
                            </div>
                        {% endif %}

                        {% if config.hasButton.value %}
                            <a href="{{ url }}" {% if config.urlNewTab.value %}target="_blank" rel="noopener"{% endif %}
                               title="{{ config.buttonLabel.value }}"
                               class="{{ config.buttonClass.value }} moorl-listing-item-button">
                                {% block moorl_foundation_listing_item_button_label %}
                                    {{ config.buttonLabel.value ?? "moorl-foundation.search.moreButton"|trans }}
                                {% endblock %}
                            </a>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        {% endif %}
    {% endblock %}
{% endset %}

{% if config.itemLayout.value == 'custom' %}
    <li class="{{ listingColumns }}">
        {% sw_include config.itemLayoutTemplate.value %}
    </li>
{% elseif config.hasButton.value or not url %}
    <li class="{{ listingColumns }}">
        <div class="moorl-listing-item-wrapper{% if config.itemHasBorder.value %} has-border{% endif %}"
             style="{{ itemCss|join(';')|raw }}">
            <div class="moorl-listing-item-{{ config.itemLayout.value }}">
                {{ itemContent }}
            </div>
        </div>
    </li>
{% else %}
    <li class="{{ listingColumns }}">
        <a href="{{ url }}" {% if config.urlNewTab.value %}target="_blank" rel="noopener"{% endif %}
           class="moorl-listing-item-wrapper{% if config.itemHasBorder.value %} has-border{% endif %}"
           style="{{ itemCss|join(';')|raw }}"
           title="{{ title }}">
            <div class="moorl-listing-item-{{ config.itemLayout.value }}">
                {{ itemContent }}
            </div>
        </a>
    </li>
{% endif %}
