<li class="moorl-listing-item is-{{ displayMode }}">
    {% block moorl_listing_item %}
        <a href="{{ url }}" title="{{ title }}">
            {% block moorl_listing_item_link %}
                <div class="moorl-listing-item-image">
                    {% block moorl_listing_item_image %}
                        {% if media.url %}
                            {% sw_thumbnails 'moorl-listing-item-image-thumbnails' with {
                                media: media,
                                attributes: {
                                    'alt': (media.translated.alt ?: ''),
                                    'title': (media.translated.title ?: '')
                                }
                            } %}
                        {% else %}
                            {% sw_icon 'placeholder' style {
                                'size': 'fluid'
                            } %}
                        {% endif %}
                    {% endblock %}
                </div>
                <div class="moorl-listing-item-overlay">
                    {% block moorl_listing_item_overlay %}
                        <div class="moorl-listing-item-title">
                            {% block moorl_listing_item_title %}{{ title }}{% endblock %}
                        </div>

                        {% if teaser %}
                            <div class="moorl-listing-item-teaser">
                                {% block moorl_listing_item_teaser %}{{ teaser }}{% endblock %}
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        </a>
    {% endblock %}
</li>
