{% set layout = section.sizingMode ? section.sizingMode|replace({"_": "-"}) : "container" %}

<div class="cms-section-moorl-grid {{ layout }}">
    <div class="row">
        {% for configIndex, configItem in section.customFields.moorl_section_grid_config %}
            {% set sectionPosition = 'moorl_grid_' ~ configIndex %}
            {% set blockBehaviour = moorl_block_behaviour(configItem.value, true) %}
            {% set options = {
                offsetTop: configItem.offsetTop ?: '30px',
                isSticky: configItem.isSticky
            } %}

            {% set sectionCss = [] %}
            {% if not configItem.isSticky %}
                {% set sectionCss = [
                    "height:100%",
                    "display:flex",
                    "flex-direction:column",
                    "align-items:#{sectionGridConfig.alignItems}",
                    "justify-content:#{sectionGridConfig.justifyContent}",
                ] %}
            {% endif %}

            <div class="{{ blockBehaviour }}">
                <div style="{{ sectionCss|join(';')|raw }}"
                     data-moorl-grid
                     data-moorl-grid-options='{{ options|json_encode|raw }}'>
                    {% for block in section.blocks.filterBySectionPosition(sectionPosition) %}
                        {% if configItem.isSidebar %}{{ block.setSectionPosition('sidebar') }}{% endif %}
                        {% sw_include "@Storefront/storefront/section/cms-section-block-container.html.twig" ignore missing %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
