{% block page_product_buy_list_configurator %}
    <div class="product-configurator">
        {% block page_product_buy_list_configurator_form %}
            <form action="{{ seoUrl('moorl.product.buy.list.v2.switch', {productId: product.parentId}) }}">
                {% block page_product_buy_list_configurator_groups %}
                    {% for group in product.sortedProperties %}
                        {% block page_product_detail_configurator_select %}
                            <div class="product-configurator-option">
                                <label for="{{ product.id }}{{ group.id }}">
                                    {{ group.translated.name }}
                                </label>

                                <div class="">
                                    <select name="{{ group.id }}" id="{{ product.id }}{{ group.id }}"
                                            class="form-control form-control-sm">
                                        {% for option in group.options %}
                                            {% set selected = false %}
                                            {% if option.id in product.optionIds %}
                                                {% set selected = true %}
                                            {% endif %}
                                            {% block page_product_detail_configurator_select_option %}
                                                <option
                                                        value="{{ option.id }}"
                                                        {% if selected %}selected="selected"{% endif %}
                                                        {% if not option.combinable %}disabled{% endif %}
                                                >
                                                    {{ option.translated.name }}
                                                </option>
                                            {% endblock %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% endblock %}
                    {% endfor %}
                {% endblock %}
            </form>
        {% endblock %}
    </div>
{% endblock %}
