{% sw_extends '@Storefront/storefront/layout/header/search-suggest.html.twig' %}

{% block layout_search_suggest_result_total %}
    {% if page.searchResult.total == 0 %}
        {% block layout_search_suggest_no_result %}
            <div class="search-suggest-no-result">
                {{ "header.searchNoResult"|trans|sw_sanitize }}
            </div>
        {% endblock %}
    {% else %}
        {% block layout_search_suggest_result_total_result %}
            <div class="js-result search-suggest-total">
                <div class="row form-row align-items-center">
                    <div class="col-auto">
                        {% sw_icon 'arrow-head-right' style { 'size': 'sm' } %}
                    </div>
                    <div class="col">
                        <a href="{{ path('frontend.search.page') }}?search={{ page.searchTerm }}&tab={{ page.activeTab ?? 'product' }}"
                           title="{{ "header.searchAllResults"|trans|striptags }}"
                           class="search-suggest-total-link d-block">
                            {{ "header.searchAllResults"|trans|sw_sanitize }}
                        </a>
                    </div>
                    <div class="col-auto search-suggest-total-count">
                        {{ "header.searchResults"|trans({
                            '%count%': page.searchResult.total,
                        })|sw_sanitize }}
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}

{% block layout_search_suggest_container %}
    {% if page.searchResult.moorlSearchResults and page.searchResult.moorlSearchResults|length > 0 %}
        {% set activeTab = "product" %}
        {% if page.searchResult.total == 0 %}
            {% for moorlSearchResult in page.searchResult.moorlSearchResults %}
                {% if moorlSearchResult.total > 0 and activeTab == "product" %}
                    {% set activeTab = moorlSearchResult.criteria.title %}
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="search-suggest-container{% if config('MoorlFoundation.config.advancedSearchWidth') %} moorl-search-suggest-container{% endif %}">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link{% if activeTab == "product" %} active{% endif %}" data-toggle="tab" href="#product">
                        {{ "moorl-foundation.search.product"|trans }}
                        <span class="badge badge-primary">{{ page.searchResult.total }}</span>
                    </a>
                </li>

                {% for moorlSearchResult in page.searchResult.moorlSearchResults %}
                    <li class="nav-item">
                        <a class="nav-link{% if activeTab == moorlSearchResult.criteria.title %} active{% endif %}" data-toggle="tab" href="#{{ moorlSearchResult.criteria.title }}">
                            {{ moorlSearchResult.snippet|trans }}
                            <span class="badge badge-primary">{{ moorlSearchResult.total }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                <div class="tab-pane {% if activeTab == "product" %} active{% endif %}" id="{{ page.searchResult.entity }}">
                    <ul class="moorl-search-suggest-list">
                        {{ block('layout_search_suggest_results') }}
                    </ul>
                    {{ block('layout_search_suggest_result_total') }}
                </div>

                {% for moorlSearchResult in page.searchResult.moorlSearchResults %}
                    <div class="tab-pane{% if activeTab == moorlSearchResult.criteria.title %} active{% endif %}" id="{{ moorlSearchResult.criteria.title }}">
                        {% set page = {
                            searchResult: moorlSearchResult,
                            searchTerm: page.searchTerm,
                            activeTab: moorlSearchResult.criteria.title
                        } %}

                        {% if moorlSearchResult.entity == 'product' %}
                            <ul class="moorl-search-suggest-list">
                                {{ block('layout_search_suggest_results') }}
                            </ul>
                        {% else %}
                            {% sw_include "@Storefront/storefront/layout/header/search-suggest-" ~ moorlSearchResult.criteria.title ~ ".html.twig" ignore missing %}
                        {% endif %}

                        {{ block('layout_search_suggest_result_total') }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
