{% set options = {
    enablePrices: true,
    enableAddToCartAll: true,
    enableAddToCartSingle: true,
    enableSelection: true,
    currencyIso: context.currency.isoCode,
    discountValue: 0,
    addToCartSingleIcon: 'bag',
    addToCartAllIcon: 'bag'
}|merge(options) %}

{% if items.count > 0 %}
    <div class="moorl-product-parts-list"
         data-moorl-product-parts-list
         data-moorl-product-parts-list-options='{{ options|json_encode|raw }}'>
        <ul class="moorl-product-parts-list-items">
            {% for item in items %}
                {% if item.productId %}
                    <li
                            data-properties="{{ item.product.optionIds|json_encode }}"
                            data-quantity="{{ item.quantity }}"
                    >
                        {% sw_include '@MoorlFoundation/plugin/moorl-foundation/component/product-parts-list/product-item.html.twig' %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="moorl-product-parts-list-form">
            <div class="mb-2">
                <div class="text-end">
                    {{ "moorl-foundation.general.subTotal"|trans|sw_sanitize }}:
                    <span class="total-price">{{ 0|currency }}</span>
                </div>

                {% if options.discountValue %}
                    <div class="text-end" title="{{ options.discountName }}">
                        <span class="discount-price">{{ 0|currency }}</span>
                    </div>
                {% endif %}
            </div>

            <form action="{{ path('frontend.checkout.line-item.add') }}"
                  method="post"
                  data-add-to-cart="true">
                <input type="hidden" name="redirectTo" value="frontend.cart.offcanvas">
                <div class="form-values"><!-- Will be set by JavaScript --></div>

                <div class="d-grid">
                    <button data-moorl-product-parts-list-button
                            class="{% block product_parts_list_add_to_cart_class %}btn btn-primary btn-buy{% endblock %}"
                            title="{{ "detail.addProduct"|trans|striptags }}"
                            aria-label="{{ "detail.addProduct"|trans|striptags }}">
                        {% sw_icon 'icon' style {fileName: options.addToCartAllIcon} %}
                        {{ "detail.addProduct"|trans|striptags }}
                    </button>
                </div>
            </form>
            </div>
    </div>
{% elseif options.emptyText and config('MoorlFoundation.config.cmsEmptyAlert') %}
    {% sw_include "@Storefront/storefront/utilities/alert.html.twig" with {
        type: "primary",
        content: options.emptyText ?: "moorl-foundation.search.notAvailable"|trans
    } %}
{% endif %}
