<div class="moorl-multi-banner-countdown">
    {% set from = item.showUntil %}

    {# Live countdown needs showUntil date #}
    {% if from %}
        {% if item.countdownType == 'countdown' %}
            {% set pluginOptions = {
                debug: false,
                from: from|date('Y-m-d\\TH:i:sP'),
                title: countdownTitle,
                label: {
                    days: "moorl-combination-discount.days"|trans,
                    hours: "moorl-combination-discount.hours"|trans,
                    minutes: "moorl-combination-discount.minutes"|trans,
                    seconds: "moorl-combination-discount.seconds"|trans,
                }
            } %}

            <div class="moorl-countdown"
                 data-bs-toggle="tooltip"
                 data-bs-placement="bottom"
                 title="{{ countdownTitle }}"
                 data-moorl-countdown="true"
                 data-moorl-countdown-options='{{ pluginOptions|json_encode }}'>
            </div>
        {% elseif item.countdownType == 'relative' %}
            {% set pluginOptions = {
                from: from|date('Y-m-d\\TH:i:sP')
            } %}

            <div class="moorl-countdown">
                <div>
                    <div class="moorl-countdown-label">
                        {{ countdownTitle }}
                    </div>
                    <div class="moorl-countdown-time"
                         data-moorl-relative-time="true"
                         data-moorl-relative-time-options='{{ pluginOptions|json_encode }}'>
                    </div>
                </div>
            </div>
        {% elseif item.countdownType == 'time' %}
            <div class="moorl-countdown">
                <div>
                    <div class="moorl-countdown-label">
                        {{ countdownTitle }}
                    </div>
                    <div class="moorl-countdown-time">
                        {{ from|format_date('long', locale=app.request.locale) }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>
