<div v-if="element.data.listingItems" class="sw-cms-el-moorl-foundation-listing">
    <ul :style="listingCss"
        :class="listingClass">
        <li class="navigation">
            <sw-icon name="default-arrow-head-left" size="24"></sw-icon>
        </li>

        <li v-for="item in element.data.listingItems">
            {% block moorl_foundation_listing_item %}
                <div class="moorl-listing-item-wrapper" :style="itemCss">
                    <div :class="itemClass">
                        {% block moorl_foundation_listing_item_link %}
                            <div class="moorl-listing-item-image">
                                <img v-if="itemMedia(item)"
                                     :src="itemMedia(item).url"
                                     :class="imageClass"
                                     :style="imageCss">
                                <div v-else-if="element.config.itemLayout.value === 'image-or-title'"
                                     class="moorl-listing-item-title" title="{{ title }}">
                                    {{ itemTitle(item) }}
                                </div>
                            </div>

                            <div v-if="element.config.itemLayout.value !== 'image-or-title'"
                                 class="moorl-listing-item-content" :style="contentCss">
                                <div>
                                    {% block moorl_foundation_listing_item_content %}
                                        <div class="moorl-listing-item-title">
                                            {% block moorl_foundation_listing_item_title %}
                                                {{ itemTitle(item) }}
                                            {% endblock %}
                                        </div>

                                        <div v-if="itemDescription(item)" class="moorl-listing-item-description">
                                            {% block moorl_foundation_listing_item_description %}
                                                {{ itemDescription(item) }}
                                            {% endblock %}
                                        </div>

                                        <sw-button v-if="element.config.hasButton.value">
                                            {{ element.config.buttonLabel.value }}
                                        </sw-button>
                                    {% endblock %}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </li>

        <li class="navigation">
            <sw-icon name="default-arrow-head-right" size="24"></sw-icon>
        </li>
    </ul>
</div>
