{% set filterItemId = 'filter-' ~ name ~ '-' ~ random() %}

{% block component_filter_radius %}
    {% set unit = "moorl-foundation.listing.filter.#{config('MoorlFoundation.config.osmUnitOfMeasurement')}" %}

    {% set filterRadiusOptions = {
        name: name,
        displayName: displayName,
        defaultValue: config('MoorlFoundation.config.filterRadiusDefault'),
        snippets: {
            filterRadiusActiveLocationLabel: 'moorl-foundation.properties.inRadiusOf'|trans|sw_sanitize,
            filterRadiusActiveDistanceLabel: unit|trans|sw_sanitize
        }
    } %}

    {% block component_filter_radius_panel_item %}
        <div class="filter-panel-item{% if sidebar %} d-grid{% endif %}"
             data-moorl-foundation-filter-radius="true"
             data-moorl-foundation-filter-radius-options='{{ filterRadiusOptions|json_encode }}'>
            {% block component_filter_radius_toggle %}
                <button
                        class="filter-panel-item-toggle btn"
                        aria-expanded="true"
                        {% if sidebar %}
                            data-bs-toggle="collapse"
                            data-bs-target="#{{ filterItemId }}"
                        {% else %}
                            data-bs-toggle="dropdown"
                            data-boundary="viewport"
                            data-offset="0,8"
                            aria-haspopup="true"
                        {% endif %}
                >
                    {% block component_filter_radius_display_name %}
                        {{ displayName }}
                    {% endblock %}

                    {% block component_filter_radius_toggle_icon %}
                        {% sw_icon 'arrow-medium-down' style {'pack': 'solid', 'size': 'xs', 'class': 'filter-panel-item-toggle'} %}
                    {% endblock %}
                </button>
            {% endblock %}

            {% block component_filter_radius_dropdown %}
                <div class="filter-radius-dropdown filter-panel-item-dropdown{% if sidebar %} collapse show{% else %} dropdown-menu{% endif %}"
                     id="{{ filterItemId }}">
                    {% block component_filter_radius_dropdown_container %}
                        <div class="filter-radius-container">
                            {% block component_filter_location_container %}
                                <div class="filter-multi-select-list-item">
                                    <label for="location">{{ "moorl-foundation.listing.filter.zipcodeCity"|trans }}</label>
                                    {% set showMyLocation = true %}
                                    {% sw_include '@MoorlFoundation/plugin/moorl-foundation/component/listing/filter/filter-radius-input-location.html.twig' %}
                                </div>
                            {% endblock %}

                            {% block component_filter_distance_container %}
                                <div class="filter-multi-select-list-item">
                                    <label for="distance">{{ "moorl-foundation.listing.filter.distance"|trans }}</label>
                                    {% sw_include '@MoorlFoundation/plugin/moorl-foundation/component/listing/filter/filter-radius-input-radius.html.twig' %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
